<%

%>
	<tr>
		<td colspan="1" style="border-bottom: 0px; text-align: center; width: 50px">
			<div id="cart_item_<%= email_cart_item.product.id.to_s %>_1"<%#= show ? '' : 'style="display: none;"' %>>
			<%= (email_cart_item.product.image_url.nil?) ? "" : image_tag(email_cart_item.product.image_url, :alt => email_cart_item.product.title, :class => "thumb") %>
		</td>
                                <td colspan="2"><%= h(email_cart_item.product.title) %></td>
	</tr>

	<tr>
		
		
		<td><div id="cart_item_<%= email_cart_item.product.id.to_s %>_4"<%#= show ? '' : 'style="display: none;"' %>>
		
		
                <td style="text-align: right; width: 80%"><div id="cart_item_<%= email_cart_item.product.id.to_s %>_2"<%#= show ? '' : 'style="display: none;"' %>><%= email_cart_item.quantity %> &times;</div></td>
                <td class="item-price" style="padding-left: 5px;"><div id="cart_item_<%= email_cart_item.product.id.to_s %>_3"<%#= show ? '' : 'style="display: none;"' %>><%= number_to_currency(email_cart_item.total_price) %></div></td>
	</tr>