<div class="depot-form">
  <%= error_messages_for 'order' %>
  <h2>Shopping Cart Contents</h2>
    <div id="chkcart">
<%= render(:partial => "store/main_cart" , :object => @cart) %>
    </div>
<br /><br />
  <fieldset>
    <legend>Please Enter Your Details</legend>

    <% form_for :order, :url => { :action => :save_order } do |form| %>
      <p class="padded">
        <label for="order_name">Name:</label><br>
        <%= form.text_field :name, :size => 40 %>
      </p>
      <p class="padded">
        <label for="order_attention">Attention:</label><br>
        <%= form.text_field :attention, :size => 40 %>
      </p>
      <p class="padded">
        <label for="order_purchase_number">Purchase Order #:</label><br>
        <%= form.text_field :purchase_number, :size => 40 %>
      </p>
      <p class="padded">
        <label for="order_phone_no">Phone Number:</label><br>
        <%= form.text_field :phone_no, :size => 20 %>
      </p>

      <p class="padded">
        <label for="order_email">E-Mail:</label><br>
        <%= form.text_field :email, :size => 30 %>
      </p>
      <p class="padded">
        <label for="order_billing_type">Billing Type:</label><br>
        <%= form.select :billing_type, {'Invoicing Out'=>'Invoicing Out', 'MRO'=>'MRO', 'Tech Fund Credits'=>'Tech Fund Credits'} %>
      </p>
      <p class="padded">
        <label for="order_billing_address">Billing Address:</label><br>
        <%= form.text_area :billing_address, :rows => 3, :cols => 40 %>
      </p>
      <p class="padded">
        <label for="order_shippping_address">Shipping Address:</label><br>
        <%= form.text_area :shipping_address, :rows => 3, :cols => 40 %>
      </p>
      <p class="padded">
        <label for="order_message">Message [optional]:</label><br>
        <%= form.text_area :message, :rows => 3, :cols => 40 %>
      </p>
   
      <%= submit_tag "Notify BM Tronics Sales Rep", :class => "submit" %>
    <% end %>  
  </fieldset>
</div>
