<%
folder = ""
porb = "Personal"
if(session[:user_type] == "1")
  porb = "Admin"
  folder = 2
end
if(session[:user_type] == "2")
  porb = "Business"
  folder = 2
end
%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title><%= porb %> - <%= controller.controller_name %> - <%= controller.action_name %></title>
	  <%= stylesheet_link_tag "personal" , :media => "all" %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'phones_compare' %>
</head>
<body>

<div id="page">


<div id="container">
<div id="header"><br />
    <table width="100%"><tr><td style="border: 0px;">
    <div align="left"><a href="/" title="Home"><img src="/images/logo.jpg" alt="Telstra Logo" /></a></div></td>
    <td style="border: 0px;"><div align="right">
    <% if(session[:user_type])  %> 
<% else  %>  
    <%= form_tag :controller => "login", :action => "login" %>
        <label for="password">Password:</label>&nbsp;&nbsp;&nbsp;<%= password_field_tag :password, params[:password] %>&nbsp;&nbsp;&nbsp;<%= submit_tag "Login" %>
    </form>
<% end  %></div>
    
    </td></tr></table>

<!--
		<div id="sections">
			<div id="sect_left"></div>
			<ul>
				<li><div class="sect_link"><a href="#">Personal</a></div><div class="sect_break"></div></li>
				<li><div class="sect_link"><a href="#">Enterprise</a></div><div class="sect_break"></div></li>
				<li><div class="sect_link"><a href="#">Government</a></div><div class="sect_break"></div></li>
				<li><input name="search_criteria" type="text" value="" /><label><input type="radio" name="search_where" value="telstra" />Telstra</label><label><input type="radio" name="search_where" value="web" />The Web</label><input name="search" type="image" value="Search" style="/*border:0px inset Window; background-image: url(/images/more_details.gif); height: 17px;*/ height: 25px;" /></li>
			</ul>
			<div id="sect_right"></div>
		</div>
-->
		<p style="color: green"><%= flash[:notice] %></p>
    <div id="middlehead<%= folder %>">
        <img src="/images<%= folder %>/lefthead.gif" id="lefthead">
        <img src="/images<%= folder %>/righthead.gif" id="righthead">
        <div id="org">
            <h1><%= porb %></h1>
        </div>
        <div id="topnav">
            <a href="#">Home</a>&nbsp;&nbsp;&nbsp;<% if(session[:user_type])  %>  
<%= link_to "Logout",     :controller => 'login', :action => 'logout' %>
<% else  %>  
<%= link_to "Login",     :controller => 'login', :action => 'login' %>
<% end  %>&nbsp;&nbsp;&nbsp;<a href="#">Shop Online</a>&nbsp;&nbsp;&nbsp;<a href="#">Help Centre</a>&nbsp;&nbsp;&nbsp;<a href="#">About Telstra</a>&nbsp;&nbsp;&nbsp;<a href="#">Contact Us</a>
        </div>
    </div>
</div>

<div id="wrapper">
<div id="content"><img src="/images/contenttop.gif" width="714" height="7" >
    <div id="body">
    <% if flash[:notice] -%>
    <div id="notice" ><%= flash[:notice] %></div><br><br>
    <% end -%>
    <%= yield  %>
    
    </div>
<img src="/images/contentbottom.gif" width="714" height="9" >
</div>
</div>
<div id="navigation"><img src="/images/topnav.gif" width="163" height="7" >
    <div id="navbody">
<%= hidden_div_if(@cart.items.empty?, :id => "cart" ) %>
<%= render(:partial => "store/cart" , :object => @cart) %>
</div>
<% if(session[:user_type] == "1")  %>  

      <ul>
        <li><%= link_to "Orders",   :controller => 'admin', :action => 'orders' %>
        <li><%= link_to "Products",   :controller => 'admin', :action => 'list' %>
        <li><%= link_to "Add Product",   :controller => 'admin', :action => 'new' %>
        <li><%= link_to "List users", :controller => 'login', :action => 'index' %>
        <li><%= link_to "Add user",   :controller => 'login', :action => 'add_user' %>
        <li><%= link_to "Logout",     :controller => 'login', :action => 'logout' %>
  		</ul>
  		<br><br>
<% end  %> 
    			<ul>
				<li><a href="/phones/list/offers">Latest Mobile Offers</a></li>
				<li><a href="/phones">Mobile Phones</a></li>
				<li><a href="/plans">Search Plans</a></li>
				<li><a href="/phones/list/prepaid">Pre-Paid Mobiles</a></li>
				<li><a href="/phones/list/nextg">Next G Phones</a></li>
				<li><a href="/phones/list/pda">PDAs & Smartphones</a></li>
				<li><a href="/accessories">Mobile Accessories</a></li>
			</ul>
    </div>
<img src="/images/bottomnav.gif" width="163" height="8" >
</div>
<div id="extra">
</div>
<div id="footertop">

</div>
</div>

</div>
<div id="footer">
  <div id="footertext">
  <a href="#">About Telstra</a>&nbsp;&nbsp;&nbsp;<a href="#">Privacy</a>&nbsp;&nbsp;&nbsp;<a href="#">Our Customer Terms</a>&nbsp;&nbsp;&nbsp;<a href="#">Copyright and Trade Mark Notice</a>&nbsp;&nbsp;&nbsp;<a href="#">Terms of Use</a>&nbsp;&nbsp;&nbsp;<a href="#">Contact Us</a>
  </div>
</div>

</body>
</html>
