<form name="compare_form" id="compare_form" action="<%= url_for({ :action => 'compare', :id => 1 }) %>" method="post" onsubmit="var num = ($('compare_form').getElements().select(function (e) { return ((e.checked) && (e.checked == true)); }).length); if ((num > 1) && (num < 5)) { return true; } else { alert('Select at least 2 and up to 4 phones for a comparison.'); return false; }">
<table class="accessories">
<tr>
<!--<th colspan="3"> <%= link_to('Compare Selected', url_for({ :action => 'compare', :id => 1 }), { :class => 'blue_button' }) %></th>-->
<th colspan="3"><input type="submit" name="do_compare" value="Compare Selected" class="blue_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" /></th>
<th class="price">Buy Outright</th>
</tr>

<%

  change_ids = false
  
  if ( @plan )
      @phones = @plan.phones()
      change_ids = true
  end
  
  unless (@phones.empty?)
    for phone in @phones
       
       stop = false
    
       if (change_ids)
           phone.id = phone.phone_id
           
           if (@network != phone.network)
               stop = true
           end
       end
       
       unless (stop)
%>
<tr >
<td rowspan="2" class="comparison"><input name="compare[]" type="checkbox" value="<%= phone.id %>" onclick="/*return set_compare(<%= phone.id %>, this);*/" 
	
	<% unless @compare_ids.nil? %>
	<%= (@compare_ids.include?(phone.id.to_s)) ? 'checked="checked"' : '' %>
	<% end %>
	
	/></td>
<td colspan="4">

	<%= link_to(phone.brand+' '+h(phone.name), url_for({ :action => 'show', :id => phone.id }), { :class => 'accessory_name' }) %>
	<% if phone.coming_soon == true %>
	      - <span style="font-weight: bold">Coming Soon!</span>
	<% end %>
</td>
  
</tr>
<tr class=" bottom">

<td width="50"><%= show_thumbnail_if_available(phone) %></td>
<td><%= truncate(phone.description, 140) %> <a style="text-decoration: none" href="<%=  url_for({ :action => 'show', :id => phone.id }) %>">more &raquo;</a></td>
<td class='price'><%= number_to_currency phone.outright %><br /><br /><strong>
<% if @user == '3' %>
Corp.<br />
<%= number_to_currency phone.corp_price %>
<% elsif @user == '2' %>
Gov.<br />
<%= number_to_currency phone.gov_price %>
<% end %></strong></td>
<td><%= link_to('More Details', url_for({ :action => 'show', :id => phone.id, :plan => @plan, :existing => @existing, :network => @network, :service => @service_type }), { :class => 'orange_button' }) %>
</td>

</tr>
<% 
    end

    end
  else
%>
	<div>No phones matching the selection criteria were found.</div>
<%
  end
  
%>
<tr>
<!--<th colspan="3"> <%= link_to('Compare Selected', url_for({ :action => 'compare', :id => 1 }), { :class => 'blue_button' }) %></th>-->
<th colspan="3"><input type="submit" name="do_compare" value="Compare Selected" class="blue_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" /></th>
</tr>
</table>
</form>


<!-- <input name="prev_start" type="hidden" value="" />
<input name="next_start" type="hidden" value="" /> -->
<!--<form name="compare_form" id="compare_form" action="<%= url_for({ :action => 'compare', :id => @submit_id }) %>" method="get">-->
<form name="compare_form" id="compare_form" action="" method="post">
<input name="compare_ids" id="compare_ids" type="hidden" value="
<%# unless @compare_ids.nil? %>
<%#= @compare_ids.join(',') %>
<%# end %>" />
<!--<input name="offset" id="offset" type="hidden" value="<%= @offset %>" />-->
<input name="page" id="page" type="hidden" value="" />
</form>
