<h2><%= h @phone.name %></h2>
<hr />
<div class="image"><%= show_picture_if_available(@phone) %></div>
<div class="text">
	<!-- <div>Outright cost <%#= number_to_currency @phone.outright %></div> -->
	<p><%= @phone.description %></p>
	<div class="phone_features">
<%
  unless (@phone.features.empty?)
%>
		<ul>
<%
    for feature in @phone.features
%>
			<li><%= show_feature_thumbnail_if_available(feature) %></li>
<%
    end
%>
		</ul>
<%
  else
%>
	<%= content_tag(:span, "No Features") %>
<%
  end
%>
	</div>
</div>
<div style="clear: both;"></div>
<hr />