<table class="product_table">
<tr>
<td class="table_name"><h2><%= @phone.brand  %> <%= h @phone.name %></h2></td>

<td rowspan="2"><h2>Features &amp; Specifications</h2>
<%
  unless (@phone.features.empty?)
%>
		<ul>
<%
    for feature in @phone.features
%>
			<li><%= h feature.name %></li>
<%
    end
%>
		</ul>
<%
  else
%>
	<%= content_tag(:span, "None Listed") %>
<%
  end
%></td>
</tr>
<tr>
<td class='table_thumb'><%= show_offer_picture_if_available(@phone) %></td>

</tr>
<tr><td class="table_fthumbs" colspan="5">
<%
  unless (@phone.features.empty?)
%>
		<ul>
<%
    for feature in @phone.features
%>
			<li><%= show_feature_thumbnail_if_available(feature) %></li>
<%
    end
%>
		</ul>
<%
  end
%></td>
</tr>
</table>

<%= @phone.description %>



<!--<div class="image"><%#= show_picture_if_available(@phone) %></div>-->
<!-- <div>Outright cost <%#= number_to_currency @phone.outright %></div> -->
<br /><br />

<% unless (@phone.coming_soon == true) %>

<% if (@plan == nil) %>
<h2>Select a Purchase Type to continue</h2>
<script>
function chk_buy()
{
	var cont = false;

	var pln_frm = document.getElementById('plans');
	if (!pln_frm)
	{
		// Don't allow the form to be submitted
		return cont;
	}

	var chked = false;
	var buy = false;

//	var pln = pln_frm['plan_type'];
	var pln = pln_frm['plan_id'];
	for (var r = 0 ; r < pln.length ; r++)
	{
		chked = (chked || pln[r].checked);
		if ((pln[r].value == 'outright') && (pln[r].checked))
		{
			buy = true;
		}
	}

	if (!chked)
	{
		alert('You must select a Purchase Type to continue.');
		return cont;
	}

	var nxtg = document.getElementById('is_nextg');
	if (!nxtg)
	{
		// Don't allow the form to be submitted
		return cont;
	}

	var is_nxtg = (parseInt(nxtg.value) > 0) ? true : false;
	if ((buy) && (is_nxtg))
	{
		cont = confirm("Making and receiving video calls and using other features of Telstra's 3G network requires a Telstra\n3G SIM which is only available by purchasing the handset on a plan.\n\nClick OK to purchase the handset without a SIM, or Cancel to choose a plan before continuing.");
	}
	else
	{
		cont = true;
	}

	return cont;
}
</script>

<form name="plans" id="plans" action="/phones/cartadd" method="post" style="padding: 0px; margin: 0px; width: 100%;" onsubmit="return chk_buy();">
        <%
        
        
         %>
        <div>
	   	<ul>
<%
unless (@plan_groups_consumer.empty?)
  
%>
<%= render :partial => "plan_groups", :collection => @plan_groups_consumer %>
<%
else
%>
		<li>No Matching Consumer Plans</li>
<%

end


%>
	</ul>	
	</div>
        <%  %>
        
        <!--
        <label><input type="radio" name="plan_type" value="phone" /></label>
	   		<span>$0 Upfront (for phone & service) on selected Personal & Business Phone Plans for 24 months</span> -->
	<div>
		<label><h3><input type="radio" name="plan_id" value="outright" />Buy Outright for <%= number_to_currency @phone.outright %> (no plan)</h3></label>
	</div>
	<% 
	
	else
	  business = (session[:user_type] == '4')
	  corporate = (session[:user_type] == '3')
	  government = (session[:user_type] == '2')
	%>

	<form name="plans" id="plans" action="/phones/cartadd" method="post" style="padding: 0px; margin: 0px; width: 100%;">
	<div>
		<table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td><h3>Get this phone on the <%= @plan.name %> (Personal)</h3></td>
				<td align="right">
					<input type="submit" name="next_personal" value="Buy Now" class="orange_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" />
					<input type="hidden" name="plan_id_personal" value="<%= @plan.id %>" />
					<input type="hidden" name="phone_price_personal" value="<%= @plan.id + 1 %>" />
				</td>
			</tr>
<% if business %>
			<tr>
				<td><h3>Get this phone on the <%= @plan.name %> (Business)</h3></td>
				<td align="right">
					<input type="submit" name="next_business" value="Buy Now" class="orange_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" />
					<input type="hidden" name="plan_id_business" value="<%= @plan.id %>" />
					<input type="hidden" name="phone_price_business" value="<%= @plan.id + 2 %>" />
				</td>
			</tr>
<% end %>
<% if corporate %>
			<tr>
				<td><h3>Get this phone on the <%= @plan.name %> (Corporate)</h3></td>
				<td align="right">
					<input type="submit" name="next_corporate" value="Buy Now" class="orange_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" />
					<input type="hidden" name="plan_id_corporate" value="<%= @plan.id %>" />
					<input type="hidden" name="phone_price_corporate" value="<%= @plan.id + 3 %>" />
				</td>
			</tr>
<% end %>
<% if government %>
			<tr>
				<td><h3>Get this phone on the <%= @plan.name %> (Government)</h3></td>
				<td align="right">
					<input type="submit" name="next_government" value="Buy Now" class="orange_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" />
					<input type="hidden" name="plan_id_government" value="<%= @plan.id %>" />
					<input type="hidden" name="phone_price_government" value="<%= @plan.id + 4 %>" />
				</td>
			</tr>
<% end %>
		</table>
	</div>
	<br />
	<%
	
	end 
	# End of the 'if @plan == nil)
	%>
	
	<div>
		<% if @plan.nil? %><table cellpadding="0" cellspacing="0" border="0" width="100%">
			<tr>
				<td style="text-align: left; border: none; width: 100%;"><% end %><%= link_to('Back', :back, { :class => 'blue_button', :style => 'line-height: 17px;' }) %><% if @plan.nil? %></td>
				<td style="text-align: right; border: none;"><input type="submit" name="next" value="Buy Now" class="orange_button" style="border: none; background-color: transparent; color: #ffffff; cursor: hand;" /></td>
			</tr>
		</table><% end %>
	</div>
	<input type="hidden" name="id" value="<%= @phone.id %>" />
	<input type="hidden" name="is_nextg" id="is_nextg" value="<%= (@phone.network == 'NextG') ? 1 : 0; %>" />
</form>

<% else %>
   
   <h2>Phone Coming Soon!</h2>

<% end %>