<div id="text">


  <h1>Accessories</h1>
  
  	<div class="phone_accessories">
  <%
    unless (@phone.accessories.empty?)
  %>
  		<table>
  <%
      for a in @phone.accessories
  %>
  			<tr><td><%= show_feature_if_available(a) %></td><td class="acaption"><%= a.name %></td></li>
  <%
      end
  %>
  		</table>
  <%
    else
  %>
  	<%= content_tag(:span, "No Accessories") %>
  <%
    end
  %>
	</div>

</div>
<div id="phone">
  <%= show_phone_thumbnail_if_available(@phone) %>

<h1>Features</h1>

	<div class="phone_features">
	
<%
  unless (@phone.features.empty?)
%>
		<table>
<%
    for feature in @phone.features
%>
			<tr><td><%= show_feature_if_available(feature) %></td><td class="fcaption"><%= feature.name %></td></tr>
<%
    end
%>
		</table>
<%
  else
%>
	<%= content_tag(:span, "No Features") %>
<%
  end
%>
	</div>
</div>

<div id="features">
<a class="buy" href="javascript:window.print()">
Buy Outright for <%= number_to_currency(@phone.outright) %>
</a>
<a class="bplan" href="<%= url_for(:controller=>"kplans",:action=>'list',:id=>@phone) %>">
Purchase on a Plan
</a>
<h1>Description</h1>
<%= @phone.description %>

</div>


