<form method="post" action="/search" id="SearchForm" >
	<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" />
	<input name="inpPreviousSearch" type="hidden" value="<%= @search_input %>" />

	<fieldset>
		<input type="hidden" name="searchMode" id="searchMode" value="telstra" />
	</fieldset>

	<fieldset>
		<input class="" type="text" value="" name="inpSearch" title="Keyword" tabindex="4" style="width: 318px;" />
		<input class="headerSearchButton" type="image" src="/bmweb/button_search_blue.gif" id="Go" alt="Go" title="Go" value="Go" tabindex="5" />
		<label><input type="radio" name="new_search" value="0" />New Search</label>
		<label><input type="radio" name="new_search" value="1" checked="checked" />Search In Results</label>
	</fieldset>
</form>
<div class="dotline_black" style="width: 100%; margin: 10px 0px 3px;">&nbsp;</div>
<h2>Search Results</h2>
<h3>Results for: <%= @keywords.nil? ? "No keywords specified" : @keywords.join(" AND ") %></h3>
<%#= debug @phones.length %>
<%#= debug @plans.length %>
<%#= debug @accessories.length %>
<%#= debug @conditions %>
<%
  if (@phones.length > 0) or (@plans.length > 0) or (@accessories.length > 0)
%>
<%
    unless @phones.empty?
      @search_result = @phones
%>
	<h3>Phones</h3>
		<ul class="linklist">
<%=   render :partial => "search_result", :collection => @search_result %>
		</ul>
<%
    end

    unless @plans.empty?
      @search_result = @plans
%>
	<h3>Plans</h3>
		<ul class="linklist">
<%=   render :partial => "search_result", :collection => @search_result %>
		</ul>
<%
    end

    unless @accessories.empty?
      @search_result = @accessories
%>
	<h3>Accessories</h3>
		<ul class="linklist">
<%=   render :partial => "search_result", :collection => @search_result %>
		</ul>
<%
    end
  else
%>
	<h3>Nothing Found</h3>
<%
  end
%>