<h1>Summary</h1>

<table>

<tr>

  <td class='phonesummary'>
  
  
  <%
  unless @phone.nil?
  %>
  <table cellpadding="0" cellspacing="0" class="summarytable">
  	<tr class="<%= cycle("even", "odd") %>">
  		<th>Phone</th>
  		<th><%= h @phone.name %></th>
  	</tr>
  	<tr class="<%= cycle("even", "odd") %>">
  		<th>Description</th>
  		<td><%= @phone.description %></td>
  	</tr>
  </table>
  <%
  else
  %>
  No phone has been chosen yet
  <%
  end
%>
  
  </td>
  
  
  
  <td class='plansummary'>
  
  <%
  unless @plan.nil?
  %>
  <table cellpadding="0" cellspacing="0" class="summarytable">
  	<tr class="<%= cycle("even", "odd") %>">
  		<th>Plan Name</th>
  		<td><%= h @plan.name %></td>
  	</tr>
  	<tr class="<%= cycle("even", "odd") %>">
  		<th>Description</th>
  		<td><%=  @plan.description %></td>
  	</tr>
  </table>
  <h3>Plan Charges</h3>
  <div class="plancharge"
  <%= render :partial => "charges_plan", :object => @plan %>
  </div>
  <%
  else
  %>
  No plan has been chosen yet
  <%
  end
%>
  
  </td>

</tr>

</table>
<div class="printer">
<%=
if @phone.nil?
  link_to "<h1>Choose a Phone</h1>", { :action => "phone", :id => @plan }
else
  link_to_function image_tag('print_printer.png'), "window.print()"
end
%>
</div>


