
<h2>Mobile Accessories <%= @brand %></h2>
<% if @user == '3' %>
    <strong>All prices include Freight + GST.</strong>
<% end %>
<div class="apple_pagination"><%= will_paginate @accessories, { :prev_label => 'Prev', :next_label => 'Next' } %></div>

<table class="accessories">
<%
  count = 0
  unless ((@accessories == nil) or (@accessories.empty?))
    for accessory in @accessories
%>
<tr >

<td colspan="4"><%= link_to(h(accessory.name), url_for({ :action => 'show', :id => accessory.id }), { :class => 'accessory_name' }) %></td>
  
</tr>
<tr class=" bottom">

<td><%= show_thumbnail_if_available(accessory) %></td>
<td><div class='description'><%= accessory.description %></div></td>
<td class='price'>
<% if @user == '3' %>
Corp.<br />
<%= number_to_currency accessory.corp_price %>
<% elsif @user == '2' %>
Gov.<br />
<%= number_to_currency accessory.govt_price %>
<% else  %>
<%= number_to_currency accessory.price %>
<% end %>
</td>
<!--<td><%#= link_to('Add to Cart', url_for({ :action => 'cartadd', :id => accessory.id, :page => @page, :brand => @selected_brand }), { :class => 'orange_button' }) %></td>-->
<td>
<% if @user == '3' %>
<br /><%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => accessory.id, :page => @page, :brand => @selected_brand, :acc_price => accessory.corp_price.to_s }, :html => { :class => 'orange_button' }) %>
<% elsif @user == '2' %>
<br /><%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => accessory.id, :page => @page, :brand => @selected_brand, :acc_price => accessory.govt_price.to_s }, :html => { :class => 'orange_button' }) %>
<% else  %>
<%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => accessory.id, :page => @page, :brand => @selected_brand, :acc_price => accessory.price.to_s }, :html => { :class => 'orange_button' }) %>
    <% end %>
</td>

</tr>
<% 
    end
  else
%>
	<div>There are currently no Mobile Accessories listed for this brand.</div>
<%
  end
%>

</table>

<div class="apple_pagination"><%= will_paginate @accessories, { :prev_label => 'Prev', :next_label => 'Next' } %></div>

