<table class="product_table">
<tr>
<td colspan="2"><h2><%= h @accessory.name %></h2></td>

</tr>
<tr>
<td class="table_name"><%= show_offer_picture_if_available(@accessory) %></td>
<td><%= @accessory.description %><br /><br />Price: <%= number_to_currency(@accessory.price) %>
<br /><br /><%#= link_to('Add to Cart', url_for({ :action => 'cartadd', :id => @accessory.id, :page => @page, :brand => @selected_brand }), { :class => 'orange_button' }) %>
<%
  corporate = (session[:user_type] == '3')
  government = (session[:user_type] == '2')
%>
Get this accessory (Personal)<%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => @accessory.id, :page => @page, :brand => @selected_brand, :acc_price => @accessory.price.to_s }, :html => { :class => 'orange_button' }) %>
<%
  if corporate
%>
Get this accessory (Corporate)<%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => @accessory.id, :page => @page, :brand => @selected_brand, :acc_price => @accessory.corp_price.to_s }, :html => { :class => 'orange_button' }) %>
<%
  end

  if government
%>
Get this accessory (Government)<%= link_to_remote('Add to Cart', :url => { :action => 'cartadd', :id => @accessory.id, :page => @page, :brand => @selected_brand, :acc_price => @accessory.govt_price.to_s }, :html => { :class => 'orange_button' }) %>
<%
  end
%>
</td>
</tr>

</table>



