<form>
<table class="accessories">
<tr>
<th colspan="3"> <%= link_to('Compare Selected', url_for({ :action => 'show', :id => 1 }), { :class => 'blue_button' }) %></th>
<th class="price">Buy Outright</th>
</tr>
<%
  unless (@phones.empty?)
    for phone in @phones
%>
<tr >
<td rowspan="2" class="comparison"><input name="compare[]" type="checkbox" value="<%= phone.id %>" onclick="return set_compare(<%= phone.id %>, this);" 
	
	<% unless @compare_ids.nil? %>
	<%= (@compare_ids.include?(phone.id.to_s)) ? 'checked="checked"' : '' %>
	<% end %>
	
	/></td>
<td colspan="4">

	<%= link_to(h(phone.name), url_for({ :action => 'show', :id => phone.id }), { :class => 'accessory_name' }) %>
</td>
  
</tr>
<tr class=" bottom">

<td><%= show_thumbnail_if_available(phone) %></td>
<td><div  class='features'><%
      unless (phone.features.empty?)
%>
			<ul>
<%
        for feature in phone.features
%>
				<li><%= show_feature_thumbnail_if_available(feature) %></li>
<%
		end
%>
			</ul>
<%
	  end
%></div></td>
<td class='price'><%= number_to_currency phone.outright %></td>
<td><%= link_to('More Details', url_for({ :action => 'show', :id => phone.id }), { :class => 'orange_button' }) %>
</td>

</tr>
<% 
    end
  else
%>
	<div>No phones matching the selection criteria were found.</div>
<%
  end
%>
<tr>
<th colspan="3"> <%= link_to('Compare Selected', url_for({ :action => 'show', :id => 1 }), { :class => 'blue_button' }) %></th>
</tr>
</table>


<!-- <input name="prev_start" type="hidden" value="" />
<input name="next_start" type="hidden" value="" /> -->
<!--<form name="compare_form" id="compare_form" action="<%= url_for({ :action => 'compare', :id => @submit_id }) %>" method="get">-->
<form name="compare_form" id="compare_form" action="" method="post">
<input name="compare_ids" id="compare_ids" type="hidden" value="
<% unless @compare_ids.nil? %>
<%= @compare_ids.join(',') %>
<% end %>" />
<!--<input name="offset" id="offset" type="hidden" value="<%= @offset %>" />-->
<input name="page" id="page" type="hidden" value="" />
</form>
