<form name="phone_search" action="/phones/list" method="post">


<table class='product_table'>

  <tr>
  <td>
  
  	<fieldset>
  		<legend>Handset Features</legend>
  <%
    unless ((@features == nil) or (@features.empty?))
      for feature in @features
  %>
  		<div>
  			<label>
  			<span><input name="feature[]" type="checkbox" value="<%= feature.id %>" /></span>
  			<%= feature.name %></label>
  		</div>
  <%
      end
    else
  %>
  		<div>No Features</div>
  <%
    end
  %>
	</fieldset>
  
  </td>
  
  <td>
  
  	<fieldset>
  		<legend>Mobile Phone Attributes</legend>
  		<div>
  			<label for="brand">Handset brand</label>
  			<span>
  				<%= select_tag "brand", options_for_select(@phone_brands, @selected_brand) %>
  			</span>
  		</div>
  	</fieldset>
  
  	<br /><br />
  
  	<fieldset>
  		<legend>Purchase Type</legend>
  		<div>
  			<label>Monthly plan <em>or</em> Outright purchase</label>
  			<span>
  				<input name="purchase_type" type="radio" value="monthly" checked="checked" />
  			</span>
  		</div>
  		<div>
  			<label>Pre-Paid only</label>
  			<span>
  				<input name="purchase_type" type="radio" value="prepaid" />
  			</span>
  		</div>
  	</fieldset>
  
  	<br /><br />
  
  	<fieldset>
  		<legend>Network</legend>
  <%
    first = true
    checked = 'checked="checked"'
  
    unless ((@networks == nil) or (@networks.empty?))
      for network in @networks
  %>
  		<div>
  			<label><%= network.first %></label>
  			<span>
  				<input name="network" type="radio" value="<%= network.last %>" <%= checked -%> />
  			</span>
  		</div>
  <%
  	  if (first)
  	    checked = ''
  		first = false
  	  end
      end
    else
  %>
  		<div>No Networks</div>
  <%
    end
  %>
	</fieldset>
	<br /><br />
	<div>
			<div class="right_buttons">
				<%= link_to_function('Display Phones', "document.phone_search.submit()", { :class => "orange_button"} ) %>
			</div>
			<div style="clear: both;"></div>
	</div>
  
  </td>
  </tr>

</table>

</form>