<h2>Compare Products</h2>
<div style="text-align: right;"><div ><%= link_to('Return to List', :back, { :class => 'blue_button' }) %></div></div>

<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="phones">&nbsp;</td>
<%  
	num = @phones.length
	for phone in @phones
%>
  <td class="phones" style="text-align: center; width:110px"><strong><%= phone.brand  %> <%= h phone.name %></strong></td>
<% end %>
	</tr>
        <tr><td class="phones">&nbsp;</td>
        <% for phone in @phones %>
          <td style="text-align: center"><%= show_thumbnail_if_available(phone) %></td>
        <% end %>
        </tr>
        <tr><td class="phones">&nbsp;</td>
        <% for phone in @phones %>
          <td style="text-align: center"><%= link_to('More Details', url_for({ :action => 'show', :id => phone.id }), { :class => 'orange_button' }) %></td>
        <% end %>
        </tr>
	<tr>
		<th class="separator" colspan="<%= (num + 1) %>" style="font-size: 12pt;">Features</th>
	</tr>
<%
	for @feature in @features
%>
	<tr class="<%= cycle('odd', 'even')  %> ">
		<th><%= @feature.name %></td>
<%
		for phone in @phones
%>
		<td style="text-align: center" class="<%= (phone.features.include?(@feature)) ? 'yes' : 'no' %>"><%= (phone.features.include?(@feature)) ? 'YES' : 'NO' %></td>
<%
		end
%>
	</tr>
<%
	end
%>
</table>