<% @submit_id = 'nextg' %>
<h2>Next G Phones</h2>
<div style="text-align: right;"><%= will_paginate @phones, { :prev_label => 'Prev', :next_label => 'Next', :renderer => PhoneCompareLinkRenderer.new } %></div>
<div style="text-align: right;"><div class="right_buttons"><%= link_to_function('Compare Selected', { :onclick => "return compare_submit('" << url_for({ :action => "compare" }) << "')", :class => 'blue_button' }) %></div><div style="clear: both;"></div></div>
<hr />
<%= render :partial => 'phone_list.html.erb' %>
<div style="text-align: right;"><div class="right_buttons"><%= link_to_function('Compare Selected', { :onclick => "return compare_submit('" << url_for({ :action => "compare" }) << "')", :class => 'blue_button' }) %></div><div style="clear: both;"></div></div>
<div style="text-align: right;"></div>
<div style="text-align: right;"><%= will_paginate @phones, { :prev_label => 'Prev', :next_label => 'Next', :renderer => PhoneCompareLinkRenderer.new } %></div>
