<h2>Latest Mobile Offers</h2>
<hr />
<div id="results">
<%
  count = 0
  unless ((@phones == nil) or (@phones.empty?))
    for phone in @phones
%>
	<div class="col">
		<div class="image"><%= show_offer_picture_if_available(phone) %></div>
		<div class="text">
			<div><span class="phone_name"><%= h phone.name %></span></div>
			<p><%= phone.description %></p>
			<!-- <%= link_to(image_tag("more_details.gif", { :alt => "More Details", :border => 0 }), url_for({ :action => 'show', :id => phone.id })) %> -->
			<%= link_to('More Details', url_for({ :action => 'show', :id => phone.id }), { :class => 'orange_button' }) %>
		</div>
		<div class="clear"></div>
	</div>
<%
      count = count + 1
      if (count.modulo(2) == 0)
%>
	<div class="clear"></div>
<%
      end
    end
  else
%>
	<div>There are currently no Latest Mobile Offers.</div>
<%
  end
%>
	<div class="clear"></div>
</div>
