

  

<!-- begin shop -->
          <div class="box2">
            <%= display_phones() %>       
            <%= display_accessories() %> 
          </div>
          

          <!-- end shop -->
          <!-- begin personal -->
	            <div class="personal_box" >
	              <div class="row1">
	                <div class="row1_col1"><%= link_to '<strong>Mobile</strong>', :controller=>'phones' %></div>
	                <div class="row1_col2"><%= link_to image_tag('/bmweb/clickarrow_blue.gif'), :controller=>'phones' %></div>
	                <div class="row1_col3"><%= link_to '<strong>Mobile Accessories</strong>', :controller=>'accessories' %></div>
	                <div class="row1_col4"><%= link_to image_tag('/bmweb/clickarrow_blue.gif'), :controller=>'accessories' %></div>
	  
	                <div class="row1_col5"><%= link_to '<strong>Small &amp;<br />Medium Business</strong>',{ :controller=>'login'}, :style => 'color:#FF6600;' %></div>
	                <div class="row1_col6"><%= link_to image_tag('/bmweb/clickarrow_orange.gif'), :controller=>'login' %></div>
	              </div>
	              <div class="row2">
	                <div class="row2_col1"></div>
	  
	                <div class="row2_col2"></div>
	                <div class="row2_col3"></div>
	                <div class="row2_col4"><%= link_to image_tag('/bmweb/login_orange.gif'), :controller=>'login' %></div>
	              </div>
	              <div class="row3">
	                <div class="row3_col1"><%= link_to '<strong>Phone Plans</strong>', :controller=>'plans' %></div>
	                <div class="row3_col2"><%= link_to image_tag('/bmweb/clickarrow_blue.gif'), :controller=>'plans' %></div>
	  
	                <div class="row3_col3"></div>
	                <div class="row3_col4"></div>
	                <div class="row3_col5"><%= link_to '<strong>Enterprise &amp; Government</strong>',{ :controller=>'login'}, :style => 'color:#005FA4;' %></div>
	                <div class="row3_col6"><%= link_to image_tag('/bmweb/clickarrow_blue2.gif'), :controller=>'login' %></div>
	  
	              </div>
	              <div class="row4">
	                <div class="row4_col1"><%= link_to image_tag('/bmweb/login_blue.gif'), :controller=>'login' %></div>
	              </div>
	            </div>
	            <!-- end personal -->
          