<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head>  
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
</head>  
<body>  
  <h2>New Order!</h2>
  <h3>Customer details:</h3>
  <ul>
    <li>Name: <%= @user[:name]  %></li>
    <li>Attention: <%= @user[:attention]  %></li>
    <li>Purchase Order #: <%= @user[:purchase_number]  %></li>
    <li>Phone Number: <%= @user[:phone_no]  %></li>
    <li>Billing Type: <%= @user[:billing_type]  %></li>  
  </ul>
  <p>Billing Address</p>
  <address><%= @user[:billing_address]  %></address>
  <p>Shipping Address</p>
  <address><%= @user[:shipping_address]  %></address>
  <h4>User Message:</h4>
  <p><%= @user[:message]  %></p><br /><br />
  <h3>Order ID: <%=  @order.id %></h3>
<%= render(:partial => "store/email_cart" , :object => @order) %>
</body> 
</html> 



