<div id="product-list">
  <h1>Product Listing</h1><br><br>

  <table cellpadding="5" cellspacing="0">
  <% for product in @products %>
    <tr valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>">

      <td width="80%">
      <div align="left">
        <span class="list-title"><%= h(product.title) %></span></div><br />
        <%= number_to_currency(product.price) %>
      </td>

      <td class="list-actions">
        <%= link_to 'Show', :action => 'show', :id => product %><br/>
        <%= link_to 'Edit', :action => 'edit', :id => product %><br/>
        <%= link_to 'Destroy', { :action  => 'destroy', :id => product },
                                 :confirm => "Are you sure?",
                                 :method  => :post %>
      </td>
    </tr>
  <% end %>
  </table>
</div>


<br />

<%= link_to 'New product', :action => 'new' %>

