<div class="depot-form">

  <%= error_messages_for 'user' %><br>

  <fieldset>
    <legend>Enter User Details</legend>

    <% form_for :user do |form| %>
      <p>
        <label for="user_name">Name:</label><br>
        <%= form.text_field :name, :size => 40 %>
      </p>

      <p>
        <label for="user_password">Password:</label><br>
        <%= form.password_field :password, :size => 40 %>
      </p>

      <p>
        <label for="user_password_confirmation">Confirm:</label><br>
        <%= form.password_field :password_confirmation, :size => 40 %>
      </p>
      
      <p>
        <label for="user_name">Usertype:</label><br>
        <%= form.select ( :usertype, { "Admin" => 1, "Government" => 2, "Corporate" => 3, "Business" => 4 } ) %>
      </p>

      <%= submit_tag "Add User", :class => "submit" %>
    
    <% end %>  
  </fieldset>
</div>