<div class="depot-form">

  <%= error_messages_for 'user' %>
  <%= link_to "<< back to admin home",   :controller => 'login', :action => 'index' %><br><br>

  <fieldset>
    <legend>Enter User Details</legend>

    <% form_for :user do |form| %>
      <p>
        <label for="user_name">Name:</label>
        <%= form.text_field :name, :size => 40 %>
      </p>

      <p>
        <label for="user_password">Password:</label>
        <%= form.password_field :password, :size => 40 %>
      </p>

      <p>
        <label for="user_password_confirmation">Confirm:</label>
        <%= form.password_field :password_confirmation, :size => 40 %>
      </p>
      
      <p>
        <label for="user_name">Usertype:</label>
        <%= form.select ( :usertype, {"Admin" => 1, "Business" => 2, "User" => 3} ) %>
      </p>

      <%= submit_tag "Add User", :class => "submit" %>
    
    <% end %>  
  </fieldset>
</div>