<script>
function hide_show(hide_id, show_id)
{
	if ((hide_id) && (hide_id != ''))
	{
		$(hide_id).hide();
	}

	if ((show_id) && (show_id != ''))
	{
		$(show_id).show();
	}
}
</script>

<div class='plantype'><%= link_to_function("Consumer Plans", "hide_show('business', 'consumer')") %> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<%= link_to_function("Business Plans", "hide_show('consumer', 'business')") %></div>



<div id="consumer" style="display: none;">
	<ul>
<%
unless @plan_groups_consumer.empty? && @consumer_mro.empty?
  @plan_groups = @plan_groups_consumer
  
%>
<%= render :partial => "plan_groups", :collection => @plan_groups %>
<%= render :partial => "mro_groups", :collection => @consumer_mro %>
<%
else
%>
		<li>No Matching Consumer Plans</li>
<%
end
%>
	</ul>
</div>

<div id="business" style="display: none;">
	<ul>
<%
unless @plan_groups_consumer.empty? && @business_mro.empty?
  @plan_groups = @plan_groups_business
%>
<%= render :partial => "plan_groups", :collection => @plan_groups %>
<%= render :partial => "mro_groups", :collection => @business_mro %>
<%
else
%>
		<li>No Matching Business Plans</li>
<%
end
%>
	</ul>
</div>