<h1>Monthly Repayment Options</h1>

<%= form_tag :action => "summary" %>
<label for="contract_length">Length of the contract:<%= select_tag "contract_length", options_for_select([["None", 0], ["12 months", 12], ["18 months", 18], ["24 months", 24]]) %></label>
<ul>
	<li><label><input type="radio" name="mro_payment_total" value="0" checked="checked">No MRO</label></li>
<%
  @mro_repayment_totals.each { |total|
%>
	<li><label><%= radio_button_tag "mro_payment_total", total %><%= number_to_currency total %></label></li>
<%
  }
%>
</ul>
<%= submit_tag "Finish" %>
<%= hidden_field_tag "phone_id", @phone.id %>
<%= hidden_field_tag "plan_id", @plan.id %>
</form>