<%
#if cart_item == @current_item
#  if cart_item.quantity == 1
#    show = false
#  else
#    show = true
#  end
#else
#  show = true
#end
%>
	<tr class="item_title">
		<td colspan="3" style="border-bottom: 0px;">
			<!--<div id="cart_item_<%= cart_item.product.id.to_s %>_1"<%#= show ? '' : 'style="display: none;"' %>>-->
			<div id="cart_item_<%= cart_item.product.id.to_s %>_1">
			<!--<div align="left"><%= h(cart_item.title) %></div>-->
			<% jscript_id = h(cart_item.title) + "_" + cart_item.id.to_s %>
			<%
			unless cart_item.plan_id == 0
			%>
			<%= link_to_function(h(cart_item.title), "$('" + jscript_id + "').toggle()") %></div>
				<ul id="<%= jscript_id %>" class="plancharge" style="display: none;">
					<% @plan = Plan.find(cart_item.plan_id) %>
					<li><%= render :partial => "phones/charges_plan", :object => @plan %></li>
				</ul>
			<%
			else
			%>
			<%= h(cart_item.title) %>
			<%
			end
			%>
		</td>
	</tr>

<%#= debug @plan %>

	<!--<tr id="cart_item_<%= cart_item.product.id.to_s %>_2" style="/*display: none;*/">-->
	<tr class="item_info">
	<!--<tr id="cart_item_<%= cart_item.product.id.to_s %>_2">-->
		<td style="padding-left: 8px;"><div id="cart_item_<%= cart_item.product.id.to_s %>_2"<%#= show ? '' : 'style="display: none;"' %>><%= cart_item.quantity %> &times;</div></td>
		<td class="item-price"><div id="cart_item_<%= cart_item.product.id.to_s %>_3"<%#= show ? '' : 'style="display: none;"' %>><%= number_to_currency(cart_item.price) %></div></td>
		<td><div id="cart_item_<%= cart_item.product.id.to_s %>_4"<%#= show ? '' : 'style="display: none;"' %>>
		<%= link_to_remote image_tag('/bmweb/cart_remove.png', :title => 'Remove Item', :alt=>'Remove Item', :style => 'float: right'), :url => { :controller => 'store', :action => :cartdel , :id => cart_item.product.id } %></div></td>
		<!--<td><%= link_to "[X]", :url => {:controller => 'store', :action => :remove_from_cart , :id => cart_item.product} %></td>-->
	</tr>