<%
folder = ''
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
		<title>BM Tronics</title>
		
		
<%= stylesheet_link_tag "kiosk" , :media => "all" %>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag  :defaults %>
<%= javascript_include_tag  'kiosk_navigation' %>
<%= javascript_include_tag 'cookie' %>

<% javascript_tag do -%>
var reset_timeout = 600; // in seconds... currently 600 seconds = 10 minutes

// Find the kiosk number from the cookie, and if it doesn't exist default to kiosk #1
var kiosk = parseInt(getCookie('kiosk'));
if (!kiosk)
{
	kiosk = 1;
	var now = new Date();
	fixDate(now);
	now.setTime(now.getTime() + 365 * 24 * 60 * 60 * 1000);
	setCookie('kiosk', 1, now);
}

var reset_url;
with (window.location)
{
	reset_url = protocol + '//' + hostname + ((port != '') ? ':' + port : '') + '/kiosk/touch/';
}

var timer = new PeriodicalExecuter(return_to_kiosk, reset_timeout);

function return_to_kiosk()
{
	window.location.href = reset_url;
}
<% end %>
	</head>

<body>
<% 

if (controller.controller_name == 'kphones' || (controller.controller_name == 'kaccessories' && controller.action_name=='index') || 
    (controller.controller_name == 'kplans' && controller.action_name=='index'))
  controllern = 'kiosk'
  action = 'touch'
  id = cookies["kiosk"]
elsif ((controller.controller_name == 'kplans') && (controller.action_name=='list'))
  controllern = 'kphones'
  action = 'show'
  id = params[:id]
elsif ((controller.controller_name == 'kplans') && (controller.action_name=='summary') && !(params[:phone_id].blank?))
  controllern = 'kplans'
  action = 'list'
  id = params[:phone_id]
elsif ((controller.controller_name == 'kplans') && (controller.action_name=='summary') && (params[:phone_id].blank?))
  controllern = 'kplans'
  action = 'index'
  id = ''
elsif ((controller.controller_name == 'kplans') && (controller.action_name=='phone'))
  controllern = 'kplans'
  action = 'summary'
  id = params[:id]
elsif ((controller.controller_name == 'kaccessories') && (controller.action_name=='show'))
  controllern = 'kaccessories'
  action = 'index'
  id = ''
end

%>

<table style="width:90%; margin: 0 auto;">

<tr>

<td>
<%= if (controller.action_name == 'phone')
                           link_to(image_tag('back.png'), :controller=>controllern, :action=>action, :plan_id=>id)
                         else
                           link_to(image_tag('back.png'), :controller=>controllern, :action=>action, :id=>id)
                         end %>
</td>

<td style="text-align: center;">
<div onclick='toggle_nav()' ><%= image_tag '/logo/bmtronics.gif', :alt => "BM Tronics" %></div>
<div id="knav" style ="display: none; margin-top: 20px;">

    <div class='drop-down'><%= link_to('Accessories',:controller=> 'kaccessories' ) %> |
    
    <%= link_to('Plans',:controller=> 'kplans' ) %> |
    <%= link_to("Kiosk 1", :controller=>"kiosk",:action=>'touch',:id=>'1') %> | 
    	        <%= link_to("Kiosk 2", :controller=>"kiosk",:action=>'touch',:id=>'2') %> | 
        <%= link_to("Kiosk 3", :controller=>"kiosk",:action=>'touch',:id=>'3') %></div>
    

</div>
</td>
</tr>

</table>

    <div id="middlehead<%= folder %>">
        <img src="/images<%= folder %>/lefthead.gif" id="lefthead">
        <img src="/images<%= folder %>/righthead.gif" id="righthead">
        
        <div id="org">
        <% if (@page_title.nil?) 
        @page_title = ''
        end%>
            <h1><%= (@phone.nil?) ? @page_title : ( @phone.brand + ' ' + @phone.name + " (" + @phone.network + ") " + @page_title) %></h1>
        </div>
        
</div>



<div id="main">
<%= yield  %>
</div>
    <div id="middlehead<%= folder %>">
        <img src="/images<%= folder %>/lefthead.gif" id="lefthead">
        <img src="/images<%= folder %>/righthead.gif" id="righthead">
        <br /><br /><br />
        <div id="zd">Website by Zack Design</div>
</body>
</html>