<%
folder = ''
%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
		<title>BM Tronics</title>
		
		
<%= stylesheet_link_tag "kiosk" , :media => "all" %>
<%= javascript_include_tag 'swfobject' %>
<%= javascript_include_tag  :defaults %>
<%= javascript_include_tag  'kiosk_navigation' %>
<%= javascript_include_tag 'cookie' %>

<% javascript_tag do -%>
var reset_timeout = 600; // in seconds... currently 600 seconds = 10 minutes

// Find the kiosk number from the cookie, and if it doesn't exist default to kiosk #1
var kiosk = parseInt(getCookie('kiosk'));
if (!kiosk)
{
	kiosk = 1;
	var now = new Date();
	fixDate(now);
	now.setTime(now.getTime() + 365 * 24 * 60 * 60 * 1000);
	setCookie('kiosk', 1, now);
}

var reset_url;
with (window.location)
{
	reset_url = protocol + '//' + hostname + ((port != '') ? ':' + port : '') + '/kiosk/touch/';
}

var timer = new PeriodicalExecuter(return_to_kiosk, reset_timeout);

function return_to_kiosk()
{
	window.location.href = reset_url;
}
<% end %>
	</head>

<body>
<div id="backbutton"><a href="#" onClick="history.go(-1); return false;" title="Back"><%= image_tag('back.png') %></a></div>
<div id="header" onclick='toggle_nav()'><%= image_tag '/logo/bmtronics.gif', :alt => "BM Tronics" %></div>

<div id="knav" style ="display: none">

    <div class='drop-down'><%= link_to('Accessories',:controller=> 'kaccessories' ) %> |
    
    <%= link_to('Plans',:controller=> 'kplans' ) %> |
    <%= link_to("Kiosk 1", :controller=>"kiosk",:action=>'touch',:id=>'1') %> | 
    	        <%= link_to("Kiosk 2", :controller=>"kiosk",:action=>'touch',:id=>'2') %> | 
        <%= link_to("Kiosk 3", :controller=>"kiosk",:action=>'touch',:id=>'3') %></div>
    

</div>

    <div id="middlehead<%= folder %>">
        <img src="/images<%= folder %>/lefthead.gif" id="lefthead">
        <img src="/images<%= folder %>/righthead.gif" id="righthead">
        
        <div id="org">
            <h1><%= (@phone.nil?) ? @page_title : (h @phone.name + " (" + h(@phone.network) + ") " + @page_title) %></h1>
        </div>
        
</div>
<div id="main">
<%= yield  %>
</div>
    <div id="middlehead<%= folder %>">
        <img src="/images<%= folder %>/lefthead.gif" id="lefthead">
        <img src="/images<%= folder %>/righthead.gif" id="righthead">
        <br /><br /><br />
        <div id="zd">Website by Zack Design</div>
</body>
</html>